<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Predict</title>
        <script type="text/javascript" src="brython.js"></script>
        <script type="text/javascript" src="brython_stdlib.js"></script>
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
      
        <title>Promotional Test</title>
      
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      
        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
      
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="device-mockups/device-mockups.min.css">
      
        <!-- Custom styles for this template -->
        <link href="css/new-age.min.css" rel="stylesheet">  
    
    </head>
      <body onload="brython(1)">
        <script type="text/python3">
          from browser import document, ajax
          import json
          import warnings
    
          def show_results(response):
              if response.status==200 or response.status==0:
                  document["result"].html = response.text
              elif response.status == 500:
                  print('py error 500')
              else:
                  warnings.warn(response.text)
    
          def get_prediction(ev):
              """Get the predicted probability."""
              req = ajax.ajax()
              req.bind('complete', show_results)
              req.open('POST', '/predict', True)
              req.set_header('content-type','application/json')
              fields = [
                'input_solar_1',
                'input_temp_2',
                'input_wind_speed_min_3',
                'input_wind_direction_4',
                'input_total_snow_depth_5',
                'input_max_1_day_temp_6',
                'input_max_2_day_temp_7',
                'input_max_1_day_snow_8',
                'input_max_2_day_snow_9',
                'input_max_3_day_snow_10',
                'input_precipitation_11',
                ]
              data = {field: document[field].value for field in fields}
              req.send(json.dumps(data))
    
          document["predict_button"].bind("click", get_prediction)
        </script>
      
        <header class="masthead">
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                  <h1 class="mb-5">WHAT IS THE AVALANCHE DANGER?</h1>
                 

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="input_solar_1">Solar Output</label>
                        <input type="number" class="form-control" id="input_solar_1" placeholder="12.6">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_temp_2">Temperature</label>
                        <input type="number" class="form-control" id="input_temp_2" placeholder="21">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_wind_speed_min_3">Mininum Wind Speed</label>
                        <input type="number" class="form-control" id="input_wind_speed_min_3" placeholder="5">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_wind_speed_avg_4">Wind Speed Average</label>
                        <input type="number" class="form-control" id="input_wind_speed_avg_4" placeholder=225>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_wind_direction_6">Wind Direction</label>
                        <input type="number" class="form-control" id="input_wind_direction_6" placeholder="225">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_snowpack_7">Snowpack Depth</label>
                        <input type="number" class="form-control" id="input_snowpack_7" placeholder="100">
                      </div> 
                      <div class="form-group col-md-6">
                        <label for="input_max_1_day_temp_6">24 Hour Snowfall</label>
                        <input type="number" class="form-control" id="input_max_1_day_temp_6" placeholder="21">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_max_2_day_temp_7">48 Hour Max Temp</label>
                        <input type="number" class="form-control" id="input_max_2_day_temp_7" placeholder="31">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_max_1_day_snow_8">1 Day Max Snow</label>
                        <input type="number" class="form-control" id="input_max_1_day_snow_8" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_max_2_day_snow_9">2 Day Max Snow</label>
                        <input type="number" class="form-control" id="input_max_2_day_snow_9" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_max_3_day_snow_10">3 Day Max Snow</label>
                        <input type="number" class="form-control" id="input_max_3_day_snow_10" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_precipitation_11">Precipitation Accumulation</label>
                        <input type="number" class="form-control" id="input_precipitation_11" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_precipitation_11">Precipitation Accumulation</label>
                        <input type="number" class="form-control" id="input_precipitation_11" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_precipitation_11">Precipitation Accumulation</label>
                        <input type="number" class="form-control" id="input_precipitation_11" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_precipitation_11">Precipitation Accumulation</label>
                        <input type="number" class="form-control" id="input_precipitation_11" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_precipitation_11">Precipitation Accumulation</label>
                        <input type="number" class="form-control" id="input_precipitation_11" placeholder="12">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="input_precipitation_11">Precipitation Accumulation</label>
                        <input type="number" class="form-control" id="input_precipitation_11" placeholder="12">
                      </div>
                    
                    </div>
                    <button id="predict_button">Predict!</button>
                  <div id="result"></div>
                </div>
                  

              </div>
                      </div>
                    </div>
                  </div>
                </div>
      
            </div>
          </div>
          
          



        </header>


        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/new-age.min.js"></script>
      </body>
</html>
