label {
    color:#acffd5;
    font-size:1rem;
}
answered {
    max-width:30rem;font-size:2rem;
}

.input-box{
    text-align: center;
    width:50%;
}
predict-button{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

warning{
    display: block;
    width: 100%;
    height: auto;
   }