label {
    color:#acffd5;
    font-size:1rem;
}
#resulting-text {
    color: white
}
answered {
    max-width:30rem;font-size:2rem;
}

.input-box{
    text-align: center;
    width:70%;
    font-size:1rem;
}

.predict-button{
    width: 20%;
    padding: 5px 5px;
    /* padding: 16px 20px; */
    border: none;
    border-radius: 4px;
    background-color: #acffd5;
}

#response_image {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#result {
    color: white;
    font-size:3rem;
}

#avy-title{
    padding-top:50px; 
    font-size: 2rem;
}
